html,body {
  margin:0px;
  padding:0px;
  font-family: 'Istok Web', sans-serif;
  font-size:16px;
  color:#212a31;
  width:100%;
  background-color: #f9f9f9;
}
body {
  max-width: 1440px;
  margin: 40px auto 0px auto;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
  background-color: #fff;
  color:#333;
  border-radius: 16px;
}
*:focus {
  outline: 0;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
button:focus, input:focus, a:focus {
  text-decoration: none !important;
  outline: none !important;
}
a, a:active, a:focus { outline: none; text-decoration: none; color:#2867b3; border-bottom:1px transparent solid; display: inline-block; }
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
a:hover {
  color:#6750a4;
}
article {
  padding: 20px 0px;
}
h1, h2, h3 {
  padding: 0px;
  margin:0px;
  font-weight: normal;
}
p {
  line-height: 30px;
}

hr {
  margin: -30px auto 40px auto;
  padding: 0;
  height: 50px;
  border: none;
  border-bottom: 1px solid #dcdcdc;
}

.orange {
  color:#fd8000;
}

header {
  padding: 60px;
  display: flex;
}

#logo {
  font-size: 2.5em;
  margin-bottom: 40px;
}
#logo > a {
  color:#333;
}

body header {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 340px;
}
body header img {
  width: 320px;
  box-shadow: 0px 0px 20px #777;
  border-radius: 10px;
}

.actions {
  display: grid;
  gap:20px;
  grid-template-columns: 270px 270px;
}
.actions .button {
  position: relative;
  padding: 14px 60px 10px 30px;
  background-color: #6750a4;
  color:#fff;
  border-radius: 16px;
}
.actions .button:hover {
  background-color: #725cb1;
}
.actions .button::after {
  content: "";
  position: absolute;
  background-size: cover;
  color:#fff;
  background-repeat: no-repeat;
}

.actions #apk:after {
  top: 4px;
  right: 16px;
  width: 32px;
  height: 32px;
  background-image: url("/icons/android.svg");
}

.actions #web_mobile::after {
  top: 10px;
  right: 20px;
  width: 26px;
  height: 26px;
  background-image: url("/icons/open_new.svg");
}

#markets {
  margin-top: 50px;
}

#markets a {
  display: inline-block;
  background-size: contain;
  border-radius: 16px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px #eee solid;
}

#markets a:hover {
  background-color: #f3f3f3;
}

#markets #rumarket {
  background-image: url("/icons/rumarket.svg");
}

#markets #nashstor {
  background-image: url("/icons/nashstor.svg");
  background-size: 90%;
}

#markets #rustore {
  background-image: url("/icons/rustore.svg");
  background-size: 65%;
}

footer {
  background-color: #2e2e35;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 40px;
  padding: 32px 20px 40px 20px;
  box-sizing: border-box;
}

footer a {
  color:#fff;
}
footer a:hover {
  color:#aaa;
}

footer #icons {
  display: flex;
  gap: 40px;
  margin-top: 15px;
}

footer .icon {
  display:grid;
  grid-template-columns: 32px 1fr;
}
footer .icon i {
  background-size: cover;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
}
footer .icon a {
  padding-top: 4px;
}

footer #github {
  background-image: url("/icons/github.svg");
}
footer #flutter {
  background-image: url("/icons/flutter.svg");
}

footer #feedback {
  position: relative;
  padding-right:58px;
}
footer #feedback:after {
  content: "";
  position: absolute;
  top: 0px;
  right: 20px;
  width: 26px;
  height: 26px;
  background: url("/icons/open_new.svg") no-repeat;
  background-size: cover;
  color:#fff;
}


@media (max-width: 1024px) {
  .actions {
    grid-template-columns: 280px;
  }
  header {
    padding: 40px;
  }

  #markets {
    margin-top: 35px;
  }
}

@media (max-width: 850px) {
  body header {
    grid-template-columns: 1fr 300px;
  }
  body header img {
    width: 300px;
  }
}

@media (max-width: 800px) {
  body header {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 540px) {
  ul {
    padding: 0px 18px;
  }
  footer {
    display:block;
  }
}

@media (max-width: 380px) {
  header {
    padding: 20px;
  }
  body header img {
    width: 280px;
  }

  .actions {
    grid-template-columns: 1fr;
  }

  #markets a {
    width: 100%;
  }
}
